@charset "UTF-8";

*{
    margin: 0;
}

/* shorthand background:
    color > image > position > repeat > (size) > attachment
*/

:root{
    --cor1: #EB33BE;
    --cor2: #34EBE9;
    --cor3: #140F99;
    --cor4: #4D6B6B;
    --cor5: #EBCC34;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
}


header{
    position: relative;
    background-color: #758a8a;
    height: 300px;
}
#categorias{
    position: relative;
    background-position: top center;
    background-size: cover;
    height: 100vw;
    max-height: 600px;
    transition: 2s;
    max-width: 675px;
    margin: auto;
}
section h1, #ptitulo{
    position: absolute;
    top: 10px;

    width: fit-content;
    padding: 10px;

    background-color: var(--cor3);
    color: var(--cor5);

    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
section h1{
    left: 10px;
}
#ptitulo{
    right: 10px;
}
.seta{
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 50px;
}
#setar{
    right: 0;
}
#setal{
    left: 0;
}
#aumentar{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

main{
    background-color: white;
    width: 800px;
    max-width: 90%;
    padding: 10px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 0 0 15px 15px;
}


footer{
    background-color: var(--cor3);
    padding: 5px;

    text-align: center;
    color: var(--cor5);
    font-weight: bolder;
}

h2{
    color: var(--cor2);
    background-color: var(--cor1);
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
}