@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #DFBBB1;
    height: 100vh;
}



header, footer{
    padding: 20px;
    background-color: #02111B;
    color: #008DD5;
    text-align: center;
}
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
header nav{
    display: flex;
    align-self: center;
    margin-top: 10px;
}
header nav a{
    padding: 5px;
    color: white;
    text-decoration: none;
    margin: 0 7.5px;
    border: solid 1px white;
}
header nav a:hover{
    text-decoration: underline;
    border-radius: 5px;
    background-color: #008DD5;
    transition: all .5s;
}



#img-fachada{
    margin: auto;
    background: url('../midia/img-fachada3.jpg') center no-repeat;
    background-size: contain;
    height: 300px;
}
main{
    background-color: #DFBBB1;
    margin: auto;
    padding: 10px;
    max-width: 800px;
}
main h2{
    margin: 25px 0;
}
main p{
    margin: 10px 0;
    line-height: 1.5em;
}
main img{
    display: block;
    margin: auto;
    width: 95%;
    max-width: 500px;
    border: solid 5px white;
}
.produto{
    display: flex;
    padding: 5px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #008ed581;
    border: solid 5px #008DD5;
}
.produto > *{
    flex: auto;
    margin: 0 5px;
}
.produto img{
    max-width: 75px;
    flex: 0 0 50px;
}
.produto h3{
    align-self: center;
    text-align: center;
}



footer{
    width: 100% /* calc(100vw - 15px) */;
    padding: 10px 0;
}